.css-ejcdc5 {
    display: flex;
    flex-direction: column;
    padding: 24px;

}

.css-ejcdc5 > :not(style) + :not(style) {
    margin: 16px 0px 0px;
}
.css-149gbl6 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.css-1iegyem {
    display: flex;
    flex-direction: row;
}
.css-1ialerq {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.css-1gjqijf {
    margin-left: -4px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
    background-color: rgb(0, 0, 0);
}
.css-n03y56 {
    margin-left: -4px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
    background-color: rgb(0, 171, 85);
}

.css-1smkz5r {
    height: 22px;
    min-width: 22px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 72, 66);
    font-weight: 700;
    top: 16px;
    right: 16px;
    z-index: 9;
    position: absolute;
    text-transform: uppercase;
}