
.saleLogo {
    height: 22px;
    min-width: 22px;
    line-height: 0;
    border-radius: 6px;
    cursor: default;
    align-items: center;
    white-space: nowrap;
    display: inline-flex;
    justify-content: center;
    padding: 0px 8px;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-family: "Public Sans", sans-serif;
    background-color: rgb(255, 72, 66);
    font-weight: 700;
    top: 16px;
    right: 16px;
    z-index: 9;
    position: absolute;
    text-transform: uppercase;
}
.itemName {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
    padding: 24px;
white-space:nowrap;


}
.links{
    margin-left: 3px;    
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: 600;
}

.itemName > :not(style) + :not(style) {
    margin: 16px 0px 0px;
}
.colorOption {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footerCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.colorBlack {
    margin-left: -4px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
    background-color: rgb(0, 0, 0);
}
.colorGreen {
    margin-left: -4px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
    background-color: rgb(0, 171, 85);
}

.price {
    display: flex;
    flex-direction: row;
}
.salePrice{
    margin: 0px;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(145, 158, 171);
    text-decoration: line-through;
}